<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <% if params.has_key?(:client_id) %>
      <%= f.hidden_field :client_id, :value => params[:client_id] %>
    <% else %>
      <%= f.hidden_field :client_id, :value => @service.client_id %>
    <% end %>
  </span>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%#= f.text_area :description %>
    <%#= f.select("service", "description", Service::DESCRIPTION, {include_blank: true}) %>
    <%= f.select(:description, Service::DESCRIPTION, {include_blank: true}) %></td>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
    <% past_list = Service.where(client_id: params[:client_id]).pluck(:price, :description) %>
    <% if past_list.length>=1 %>
        <%#= 'Past prices were: ' %>
        <% past_list.each do |price, description| %>
            <div class="<%=description%>" style="display:none">
                <%= '$' + price.to_s %>
                <%#= '$' + price.to_s.to_f.round(2).to_s %>
            </div>
        <% end %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :maturity %><br>
    <%= f.date_select :maturity %>
  </div>
  <!--<div class="field">
    <%#= f.label :paid %><br>
    <%#= f.check_box :paid, :class => "checkbox" %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$('#service_description').change(function() {
  service = $("#service_description").val();
  service = service.replace(/\s/g, '.');
  service = '.' + service;
  if ($(service).text().length>0){
    $('#service_price').val($(service+':last').text().replace(/\s/g, ''));
  } else {
    $('#service_price').val('');
  }
});
</script>
