<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <% if params.has_key?(:client_id) %>
      <%= f.hidden_field :client_id, :value => params[:client_id] %>
    <% else %>
      <%= f.hidden_field :client_id, :value => @service.client_id %>
    <% end %>
  </span>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :maturity %><br>
    <%= f.date_select :maturity %>
  </div>
  <!--<div class="field">
    <%#= f.label :paid %><br>
    <%#= f.check_box :paid, :class => "checkbox" %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
