<p id="notice"><%= notice %></p>

<h1>Listing Services</h1>

<div class="table-responsive">
    <table id="new_checklist_table" class="table table-striped table-bordered table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>Client</th>
          <th>Date</th>
          <th>Description</th>
          <th>Price</th>
          <th>Maturity</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @services.each do |service| %>
          <tr>

            <td><%= link_to Client.find(service.client_id).name, Client.find(service.client_id) %></td>
            <td><%= service.date %></td>
            <td><%= service.description %></td>
            <td><%= service.price %></td>
            <td><%= service.maturity %></td>
            <td><%= link_to 'Details', service %></td>
            <td><%= link_to 'Edit', edit_service_path(service) %></td>
            <td><%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>

<%= link_to 'New Service', new_service_path %>
<br/>
