<p>
  <strong><%= t('client')%>:</strong>
  <%= link_to Client.find(@service.client_id).name, Client.find(@service.client_id) %>
</p>

<p>
  <strong><%= t('date')%>:</strong>
  <%= @service.date %>
</p>

<p>
  <strong><%= t('description')%>:</strong>
  <%= @service.description %>
</p>

<p>
  <strong><%= t('notes')%>:</strong>
  <%= @service.notes %>
</p>

<p>
  <strong><%= t('price')%>:</strong>
  <%= @service.price %>
</p>

<p>
  <strong><%= t('maturity')%>:</strong>
  <%= @service.maturity %>
</p>

<p>
  <strong><%= t('invoice')%>:</strong>
  <%= @service.invoice.id if @service.invoice %>
</p>

<p>
  <strong><%= t('paid')%>:</strong>
    <%= @service.paid ?  'Yes' : 'No' %>
</p>

<span class="page_footer">
  <%= link_to t('edit'), edit_service_path(@service) %>
</span>
