<p>
  <strong>Client:</strong>
  <%= link_to Client.find(@service.client_id).name, Client.find(@service.client_id) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @service.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Maturity:</strong>
  <%= @service.maturity %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @service.invoice.invoice_number if @service.invoice %>
</p>

<p>
  <strong>Paid:</strong>
    <%= @service.paid ?  'Yes' : 'No' %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%#= link_to 'Back', services_path %>
