<h3 style="font-family: verdana, arial, helvetica, sans-serif;" class="page_title"><%= t('estimates') %></h3>

<div id="estimates" class="card">
  <div class="table-responsive card-body">
    <table id="estimates_table" class="card-body table table-striped table-bordered table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th style="width: 20%;"><%= t('description') %></th>
          <th style="width: 10%;"><%= t('price') %></th>
          <th style="width: 20%;"><%= t('client') %></th>
          <th style="width: 25%;"><%= t('notes') %></th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @estimates.each do |estimate| %>
          <tr>
            <td><%= estimate.description %></td>
            <td><%= estimate.price %></td>
            <td><%= link_to estimate.client.name, estimate.client %></td>
            <td><%= estimate.notes %></td>
            <td><%= link_to 'Details', estimate %></td>
            <td><%= link_to 'Agreement Form', estimate_path(estimate.id, :format => :pdf) %></td>
            <td><%= link_to 'Edit', edit_estimate_path(estimate) %></td>
            <td><%= link_to 'Delete', estimate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
	</div>
</div>

<br><br><br>

<span class="page_footer">
  <p style="text-align: right;margin-top:-23px;">
    <%= t('download') %>:
    <%= link_to "CSV", estimates_path(format: "csv") %>
  </p>
</span>


<br><br>
