<h1><%= t('listing_estimates') %></h1>


<div class="table-responsive">
    <table id="estimates_table" class="table table-striped table-bordered table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>Description</th>
          <th>Price</th>
          <th>Client</th>
          <th>Notes</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @estimates.each do |estimate| %>
          <tr>
            <td><%= estimate.description %></td>
            <td><%= estimate.price %></td>
            <td><%= estimate.client_id %></td>
            <td><%= estimate.notes %></td>
            <td><%= link_to 'Show', estimate %></td>
            <td><%= link_to 'Edit', edit_estimate_path(estimate) %></td>
            <td><%= link_to 'Delete', estimate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>
