<p>
  <strong>Description:</strong>
  <%= @estimate.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @estimate.price %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @estimate.notes %>
</p>

<span class="page_footer">
  <%= link_to 'Edit', edit_estimate_path(@estimate) %> |
  <%= link_to 'Back', estimates_path %>
</span>
