<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <% if params.has_key?(:client_id) %>
      <%= f.hidden_field :client_id, :value => params[:client_id] %>
    <% else %>
      <%= f.hidden_field :client_id, :value => @invoice.client_id %>
    <% end %>
  </span>
  <div class="field">
    <%= f.label t('maturity') %><br>
    <%#= f.date_select :maturity, class: "form-control", style: "width: 25%" %>
    <%= f.date_select :maturity, {:order => [:month, :day, :year], :start_year => Time.now.year - 80, use_month_numbers: true}, {:class => "custom-select mini", style: "width: 10%"} %>

  </div>
  <div class="field">
    <%= f.label t('description') %><br>
    <%= f.text_area :description, class: "form-control", style: "width: 25%" %>
  </div>
  <div class="field">
    <%= f.label t('paid') %><br>
    <%= f.check_box :paid, :class => "checkbox" %>
  </div>
  <div class="field">
    <%= f.label t('check_number') %><br>
    <%= f.text_field :check_number, class: "form-control", style: "width: 25%" %>
  </div>
  <div class="field">
      <%= f.label t('payable_to') %><br>
      <%= f.select :payable_to, options_for_select(ShippingAddress.all.map(&:name), @invoice.payable_to), {}, {class: 'sms_gateway custom-select', style: "width: 30%"} %>
  </div>
  <div class="actions">
    <%= f.submit t('save'), class: "btn btn-outline-success my-2 my-sm-0" %>
  </div>
<% end %>
