<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <%#= f.label :client_id %><br>
    <%#= f.number_field :client_id %>
    <%= f.hidden_field :client_id, :value => params[:client_id] %>
  </span>
  <div class="field">
    <%= f.label :maturity %><br>
    <%= f.date_select :maturity %>
  </div>
  <div class="field">
    <%= f.label :date_of_service %><br>
    <%= f.date_select :date_of_service %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= '$' %> <%= f.text_field :price %>
    <span style="color:gray">
      <% past_prices = Client.find(params[:client_id]).invoices.pluck(:price) %>
      <% if past_prices.length>1 %>
        <%= "Past prices for this client were: " %>
        <% past_prices.each_with_index do |price, index| %>
            <%= '$' + price.to_s.to_f.round(2).to_s %>
            <%= ',' if (index < past_prices.length-1) %>
        <% end %>
      <% end %>
    </span>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= '$' %> <%= f.text_field :total %>
    <span style="color:gray">
      <% past_totals = Client.find(params[:client_id]).invoices.pluck(:total) %>
      <% if past_totals.length>1 %>
        <%= "Past totals for this client were: " %>
        <% past_totals.each_with_index do |total, index| %>
            <%= '$' + total.to_s.to_f.round(2).to_s %>
            <%= ',' if (index < past_totals.length-1) %>
        <% end %>
      <% end %>
    </span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
