<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <% if params.has_key?(:client_id) %>
      <%= f.hidden_field :client_id, :value => params[:client_id] %>
    <% else %>
      <%= f.hidden_field :client_id, :value => @invoice.client_id %>
    <% end %>
  </span>
  <div class="field">
    <%= f.label :maturity %><br>
    <%= f.date_select :maturity %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <!--
  <div class="field">
    <%#= f.label :price %><br>
    <%#= '$' %> <%#= f.text_field :price %>
    <span style="color:gray">

    <%# if params.has_key?(:client_id) %>
      <%# past_prices = Client.find(params[:client_id]).invoices.pluck(:price) %>
    <%# else %>
      <%# past_prices = Client.find(f.object.client_id).invoices.pluck(:price) %>
    <%# end %>
      <%# if past_prices.length>=1 %>
        <%#= "Past prices for this client were: " %>
        <%# past_prices.each_with_index do |price, index| %>
            <%#= '$' + price.to_s.to_f.round(2).to_s %>
            <%#= ',' if (index < past_prices.length-1) %>
        <%# end %>
      <%# end %>
    </span>
  </div>-->
  <div class="field">
    <%= f.label :paid %><br>
    <%#= f.check_box :paid, :class => "checkbox", style: "margin: 0 auto;" %>
    <%= f.check_box :paid, :class => "checkbox" %>
  </div>
  <div class="field">
    <%= f.label :check_number %><br>
    <%= f.text_field :check_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
