<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <% if params.has_key?(:client_id) %>
      <%= f.hidden_field :client_id, :value => params[:client_id] %>
    <% else %>
      <%= f.hidden_field :client_id, :value => @invoice.client_id %>
    <% end %>
  </span>
  <div class="field">
    <%= f.label :maturity %><br>
    <%= f.date_select :maturity, class: "form-control", style: "width: 25%" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control", style: "width: 25%" %>
  </div>
  <div class="field">
    <%= f.label :paid %><br>
    <%= f.check_box :paid, :class => "checkbox" %>
  </div>
  <div class="field">
    <%= f.label :check_number %><br>
    <%= f.text_field :check_number, class: "form-control", style: "width: 25%" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
