<h1><%= t('listing_invoices') %></h1>

<%= form_tag invoices_path, :method => 'get', :id => "invoices_search" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= label_tag :overdue %>
    <%= check_box_tag :overdue,'yes', params[:overdue] %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-default", style: "padding: 3px 2px 1px 2px;" %>
  </p>
<% end %>

<div class="table-responsive">
  <table id="invoices_table" class="table table-striped table-bordered table-hover table-condensed table-responsive">
    <thead>
      <tr>
        <th>Client</th>
        <th>Invoice number</th>
        <th>Maturity</th>
        <th>Description</th>
        <th>Total</th>
        <th>Paid</th>
        <th>Check Number</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td>
          <% if !invoice.client.name.present? || invoice.client.name.empty? %>
              <%= link_to invoice.client.id, invoice.client %>
            <% else %>
              <%= link_to invoice.client.name, invoice.client %>
          <% end %> </td>
          <td><%= invoice.invoice_number %></td>
          <td><%= invoice.maturity %></td>
          <td><%= invoice.description %></td>
          <td><%= invoice.total %></td>
          <td><%= invoice.paid ? 'Yes' : 'No' %></td>
          <td><%= invoice.check_number %></td>
          <!--<td><%#= link_to 'Show', invoice %></td> -->
          <td><%= link_to 'Show', invoice_path(invoice.id, :format => :pdf) %></td>
          <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
          <td><%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% company_receivables = Invoice.where("paid IS NOT TRUE").pluck(:total) %>
<b>Receivables:
<% if company_receivables.length<=0 %>
  <%= '$0' %>
<% else %>
 <%= '$' %><%= company_receivables.inject(0){|sum,x| sum + x } %></b>
<% end %>
<br>
<b>Services without invoice: <%= Service.where("paid IS NOT TRUE").where(invoice_id: nil).count %>
<br>
<%= will_paginate @invoices %>
<br/>
<%= link_to 'Print all invoices', show_all_path(:format => :pdf) %>
<br/>
<br/>
<br/>
