<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= link_to @invoice.client.name, @invoice.client %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @invoice.invoice_number %>
</p>

<p>
  <strong>Maturity:</strong>
  <%= @invoice.maturity %>
</p>

<p>
  <strong>Date of service:</strong>
  <%= @invoice.date_of_service %>
</p>

<p>
  <strong>Description:</strong>
  <%= @invoice.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= '$' + @invoice.price.to_s %>
</p>

<p>
  <strong>Total:</strong>
  <%= '$' + @invoice.total.to_s %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
