<tr>
  <td>
    <%= f.hidden_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td>
    <%= f.text_field :client_street_address, data: {autocomplete_source: Client.order(:name).map { |c| { :label => c.name+' | '+c.street_address, :value => c.name+' | '+c.street_address, :id => c.id} } }, class: 'client_schedule_input', style: 'width: 90%;', :autocomplete => :off  %>
  </td>
  <td>
    <%= f.select(:time, Service::TIME, {include_blank: true }, style: 'width: 90%;', onmousedown: "if(this.options.length>7){this.size=7;}",  onchange:'this.size=0;', onblur:"this.size=0;") %></td>
  </td>
  <td>
    <%= f.select(:service_type, ServiceType.all.pluck(:description), {include_blank: true }, style: 'width: 90%;', class: 'client_schedule_service_type') %></td>
  </td>
  <td>
    <%= f.text_field :notes, style: 'width: 90%;' %></td>
  </td>
  <td>
    <%= f.check_box :done, style: 'width: 90%;', disabled: f.object.done %></td>
    <%#= f.object.id %>
  </td>
  <td>
    <%= f.text_field :price, style: 'width: 90%;' %></td>
    <%#= f.object.id %>
  </td>
</tr>
