<tr>
  <td>
    <%= f.hidden_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td>
    <%= f.text_field :client_street_address, data: {autocomplete_source: Client.order(:name).map { |c| { :label => c.name+' | '+c.street_address, :value => c.street_address, :id => c.id} } }, class: 'client_schedule_input', style: 'width: 90%;'  %>
  </td>
  <td>
    <%= f.text_field :time, style: 'width: 90%;', id: 'timepicker' %></td>
  </td>
  <td>
    <%= f.select(:type, Service::DESCRIPTION, {include_blank: true }, style: 'width: 90%;') %></td>
  </td>
  <td>
    <%= f.text_field :notes, style: 'width: 90%;' %></td>
  </td>
</tr>
