<script type="text/javascript" src="https://googlemaps.github.io/js-marker-clusterer/src/markerclusterer.js"></script>
<%
    # Center of map
    lat = '39.00877'
    lng = '-77.0528637'
    clients = Client.all
%>

<div id="map_wrapper">
  <div id="map"></div>
</div>

   <script type="text/javascript">
    $(function loadScript(){
      // Add a marker clusterer to manage the markers.
      //var markerCluster = new MarkerClusterer(map, markers,
     //{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
     var locations = [
       <% clients.each_with_index do |client, index| %>
         <%
             location = Geocoder.search(client.street_address)
             if location && location[0]
               latitude = location[0].latitude
               longitude = location[0].longitude
             end
         %>
         <% if index == clients.size - 1 %>
          ['<%= client.name + ' | ' + client.street_address%>',<%=latitude if latitude%>,<%=longitude if longitude%>]
         <% else %>
          ['<%= client.name + ' | ' + client.street_address%>',<%=latitude if latitude%>,<%=longitude if longitude%>],
         <% end %>
        <% end %>
     ];

     console.log(locations)

     var map = new google.maps.Map(document.getElementById('map'), {
   zoom: 9,
   center: new google.maps.LatLng(<%= lat %>,<%= lng %>),
   mapTypeId: google.maps.MapTypeId.ROADMAP
 });
 //var mc = new MarkerClusterer(map);

     var infowindow = new google.maps.InfoWindow();

     var marker, i;

     for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
           position: new google.maps.LatLng(locations[i][1], locations[i][2]),
           map: map,
           icon: greenPin
         });

       google.maps.event.addListener(marker, 'click', (function(marker, i) {
         return function() {
           infowindow.setContent(locations[i][0]);
           infowindow.open(map, marker);
         }
       })(marker, i));
     }
   })

   </script>

   <style>
   #map_wrapper {
     height: 500px;
     margin: 20px 0px 0px 0px;
   }

   #map {
       width: 100%;
       height: 100%;
   }
   </style>
