<p>
  <strong>Date:</strong>
  <%= @schedule.date.strftime("%A, %m/%d/%Y") %>
</p>
<br/>
<h4><strong>Clients</strong></h4>
<table class='table table-striped table-bordered table-hover table-condensed table-responsive'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Time</th>
      <th>Service Type</th>
      <th>Observation</th>
      <th>Done?</th>
      <th>Directions</th>
    </tr>
  </thead>
  <tbody class='fields'>
    <% @schedule.client_schedules.each do |cs| %>
     <tr>
       <%
           lat = cs.client.lat
           lng = cs.client.lng
       %>
       <td><b><%= cs.client.name %></b></td>
       <td><%= cs.client.street_address %>
       <%= cs.client.city %> </td>
       <td><%= cs.time %></td>
       <td><%= cs.service_type %></td>
       <td><%= cs.notes %> </td>
       <td><%= cs.done ? 'Yes' : 'No' %></td>
       <td><%= link_to 'Click Here', "http://maps.apple.com/?q=#{lat},#{lng}", style: 'color: #68b468;'%></br></td>
     </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
</br></br></br>
