<p>
  <strong>Date:</strong>
  <%= @schedule.date %>
</p>

<p>
  <strong>Clients:</strong> </br> </br>
  <% @schedule.client_schedules.each do |cs| %>
    <b><%= cs.client.name %></b> </br>
    <%= cs.client.street_address %> </br>
    <%= cs.client.city %> </br>
    </br>
  <% end %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
