<p>
  <strong>Date:</strong>
  <%= @schedule.date.strftime("%A, %m/%d/%Y") %>
</p>
<br/>
<p>
  <h4><strong>Clients</strong></h4>
  <% @schedule.client_schedules.each do |cs| %>
    <%
        lat = cs.client.lat
        lng = cs.client.lng
    %>
    <b><%= cs.client.name %></b> </br>
    <%= cs.client.street_address %> </br>
    <%= cs.client.city %> </br>
    <%= cs.time.strftime("%l:%M%p") %> </br>
    <%= cs.service_type %> </br>
    <%= cs.notes %> </br>
    <%= link_to 'Directions', "http://maps.apple.com/?q=#{lat},#{lng}", style: 'color: #68b468;'%></br>
    </br>
  <% end %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
