<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">

<!--<h1 style="font-size: 36px;font-family: verdana, arial, helvetica, sans-serif;" class="page_title"><%= t('clients') %></h1> -->
<h3 style="font-family: verdana, arial, helvetica, sans-serif;" class="page_title"><%= t('clients') %></h3>
<%= form_tag clients_path, :method => 'get', :id => "clients_search", :style => "margin: -36px 0 0 0;" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <b>Search:  </b><%= text_field_tag :search, params[:search], style: "display: initial" %>
  </p>
<% end %>

<div id="clients" class="card">
	<div class="table-responsive card-body">
		<table id="clients_table" class="table table-striped table-bordered table-hover table-condensed table-responsive">
		  <thead>
			<tr>
        <th style="width: 15%;">Name</th>
        <th style="width: 25%;">Address</th>
        <th style="width: 15%;">Email</th>
        <th style="width: 15%;">Phone</th>
        <th style="width: 10%;">DOB</th>
        <th style="padding-right:20px;width: 15%;">Carrier</th>
			  <th colspan="7"></th>
			</tr>
		  </thead>

		  <tbody>
			<% @clients.each do |client| %>
			  <% crt_inv = client.services.where("paid IS NOT TRUE").where("invoice_id IS NULL").length >= 1  %>
			  <tr <%= 'class=client_tr' if crt_inv %>>
				<td><%= client.name %></td>
				<td><%= client.street_address %></td>
				<td><%= client.email %></td>
				<td><%= client.phone %></td>
				<td><%= client.dob %></td>
				<td><%= Client::CARRIERS.select{ |carrier, email| email == client.sms_gateway }[0][0] if client.sms_gateway %></td>
				<td><%= link_to 'Make Estimate', new_estimate_path(:client_id => client.id) %></td>
							<td><a class="create-services" id="<%= client.id %>" name="<%= client.name %>">Charge Services</a></td>
				<td <%= 'class=client_td' if crt_inv %>><%= link_to_if(crt_inv,'Create Invoice', new_invoice_path(:client_id => client.id) ) %></td>
				<td><%= link_to 'Details', client %></td>
				<td><%= link_to 'Edit', edit_client_path(client) %></td>
				<td><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			  </tr>
			<% end %>
		  </tbody>
		</table>
	</div>
</div>

<span class="page_footer">
  <%= link_to 'New Client', new_client_path %> |
  <%= link_to 'Create all monthly invoices', create_monthly_invoices_path %> |
</span>
<!--<p style="text-align: right;margin-top:-19px;"> -->
<span class="page_footer">
  Download:
  <%= link_to "CSV", clients_path(format: "csv") %>
  <!--| <%#= link_to "Excel", clients_path(format: "xls") %> -->
</span>

<br/>
<%= will_paginate @clients %> </br>
<br/>

  <style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
		.ui-dialog-titlebar{ background-color: #68b468;}
  </style>

<script>
    $( "#clients_search" ).keyup(function() {
        search = $('#search').val();
        $.get( "/clients?search="+search, function( data ) {
            data_html_obj = $($.parseHTML( data ) );
            div = data_html_obj.find('#clients');
            $('#clients').html(div);
        });
    });
</script>
