<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<div class="table-responsive">
    <table id="new_checklist_table" class="table table-striped table-bordered table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Street Address</th>
          <th>City</th>
          <th>Zipcode</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Date of Birth</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.name %></td>
            <td><%= client.street_address %></td>
            <td><%= client.city %></td>
            <td><%= client.zipcode %></td>
            <td><%= client.email %></td>
            <td><%= client.phone %></td>
            <td><%= client.dob %></td>
            <td><%= link_to 'Details', client %></td>
            <td><%= link_to 'Edit', edit_client_path(client) %></td>
            <td><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>

<%= link_to 'New Client', new_client_path %>
<br/>
