<p style="width: 200px;">
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p style="width: 200px;">
  <strong>Address:</strong>
  <%= @client.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @client.zipcode %>
</p>

<p style="width: 200px;">
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p style="width: 200px;">
  <strong>Email2:</strong>
  <%= @client.email2 %>
</p>


<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= Client::CARRIERS.select{ |carrier, email| email == @client.sms_gateway }[0][0] if @client.sms_gateway %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @client.phone2 %>
</p>

<p>
  <strong>Carrier2:</strong>
  <%= Client::CARRIERS.select{ |carrier, email| email == @client.sms_gateway }[0][0] if @client.sms_gateway2 %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @client.dob %>
</p>

<p style="width: 200px;">
  <strong>Notes:</strong>
  <%= @client.notes %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @client.credit %>
</p>

<p>
  <strong>Prospect:</strong>
  <%= @client.prospect %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @client.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @client.lng %>
</p>

<div id="map_wrapper">
  <div id="map"></div>
</div>

   <script type="text/javascript">
    $(function loadScript(){
     var locations = [
         ['<%= link_to 'Directions', "http://maps.apple.com/?q=#{@client.lat},#{@client.lng}"%>', <%= @client.lat %> , <%= @client.lng %>]
     ];

     var map = new google.maps.Map(document.getElementById('map'), {
   zoom: 20,
   center: new google.maps.LatLng(<%= @client.lat %>,<%= @client.lng %>),
   mapTypeId: google.maps.MapTypeId.SATELLITE
 });

     var infowindow = new google.maps.InfoWindow();

     var marker, i;

     for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
           position: new google.maps.LatLng(locations[i][1], locations[i][2]),
           map: map,
           icon: greenPin
         });

       google.maps.event.addListener(marker, 'click', (function(marker, i) {
         return function() {
           infowindow.setContent(locations[i][0]);
           infowindow.open(map, marker);
         }
       })(marker, i));
     }
   })

   </script>

   <style>
   #map_wrapper {
     height: 355px;
     margin: -360px 0px 0 210px;
   }

   #map {
       width: 100%;
       height: 100%;
   }
   @media (max-width: 550px) {
       #map_wrapper {
         margin: 0px 0px 0px 0px;
       }
   }
   </style>

   <h3>Services: </h3>
   <div id="services">
       <div class="table-responsive">
           <table id="services_table" class="table table-striped table-bordered table-hover table-condensed table-responsive">
             <thead>
               <tr>
                 <th>Client</th>
                 <th>Date</th>
                 <th>Description</th>
                 <th>Price</th>
                 <th>Maturity</th>
                 <th>Invoice</th>
                 <th>Paid</th>
                 <th colspan="3"></th>
               </tr>
             </thead>

             <tbody>
               <% @client.services.each do |service| %>
                 <tr>
                   <td><%= link_to service.client.name, service.client %></td>
                   <td><%= service.date %></td>
                   <td><%= service.description %></td>
                   <td><%= service.price %></td>
                   <td><%= service.maturity %></td>
                   <td><%= link_to service.invoice.id, invoice_path(service.invoice.id, :format => :pdf) if service.invoice %></td>
                   <td><%= service.paid ? 'Yes' : 'No' %></td>
                   <td><%= link_to 'Details', service %></td>
                   <td><%= link_to 'Edit', edit_service_path(service) %></td>
                   <td><%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                 </tr>
               <% end %>
             </tbody>
           </table>
       </div>
   </div>

   <%= link_to 'Edit', edit_client_path(@client) %> |
   <%= link_to 'Back', clients_path %>
