    <h2> <p class="intro"><%= t('intro') %> </p></h2>

    <!--<select id="dynamic_select">
      <option value="" selected><%= t('pick_language') %></option>
      <option value="en"><%= t('english') %></option>
      <option value="pt"><%= t('portuguese') %></option>
    </select>-->

    <div class="dropdown" style='margin-left: 60px;' id="dynamic_select">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t('pick_language') %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href=".?locale=en"><%= t('english') %></a>
        <a class="dropdown-item" href=".?locale=pt"><%= t('portuguese') %></a>
      </div>
    </div>



<script>
    /*$(function(){
      // bind change event to select
      $('#dynamic_select').on('change', function () {
          var locale = $(this).val(); // get selected value
          if (locale) { // require a URL
            newUrl = window.location.protocol + '//'  + window.location.host + '?locale=' + locale;
            window.location = newUrl; // redirect
          }
          return false;
      });
    });*/
</script>
