<p id="notice"><%= notice %></p>

<h1><%= t('listing_shipping_addresses') %></h1>

<div class="table-responsive">
  <table id="shipping_addresses_table" class="table table-striped table-bordered table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zipcode</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Default</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @shipping_addresses.each do |shipping_address| %>
          <tr>
            <td><%= shipping_address.name %></td>
            <td><%= shipping_address.street %></td>
            <td><%= shipping_address.city %></td>
            <td><%= shipping_address.state %></td>
            <td><%= shipping_address.zipcode %></td>
            <td><%= shipping_address.phone %></td>
            <td><%= shipping_address.email %></td>
            <td><%= shipping_address.is_default ? 'Yes' : 'No'  %></td>
            <td><%= link_to 'Show', shipping_address %></td>
            <td><%= link_to 'Edit', edit_shipping_address_path(shipping_address) %></td>
            <td><%= link_to 'Destroy', shipping_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<br>

<%= link_to 'New Shipping address', new_shipping_address_path %>
