<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <b> <%= link_to image_tag("http://pandera.ml/images/pandera_app/pandera_logo.png", :alt => "Pandera Logo"), root_path %> </b>
      <!-- <link rel="apple-touch-icon" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1"/> -->
        <!-- size 57x57 -->
      <!--<link rel="apple-touch-icon" sizes="57x57" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1"/>
      <link rel="apple-touch-icon" sizes="72x72" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1"/>
      <link rel="apple-touch-icon" sizes="76x76" href="https://www.dropbox.com/s/zf61qb2eh45pzkm/apple-touch-icon.png?dl=0&raw=1">
      <link rel="apple-touch-icon" sizes="144x144" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1"/>
      <link rel="apple-touch-icon" sizes="144x144" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1"/>
      <link rel="icon" type="image/png" href="https://www.dropbox.com/s/92xvznr5p84zswn/favicon-32x32.png?dl=0&raw=1" sizes="32x32">
      <link rel="icon" type="image/png" href="https://www.dropbox.com/s/cjpenk5d6fif9fm/favicon-16x16.png?dl=0&raw=1" sizes="16x16">
      <link rel="manifest" href="https://www.dropbox.com/s/tij4jmfdhfnh4bi/manifest.json?dl=0&raw=1">
      <link rel="mask-icon" href="https://www.dropbox.com/s/fs1dv3uldo8ugc9/safari-pinned-tab.svg?dl=0&raw=1" color="#5bbad5">
      <link rel="shortcut icon" href="https://www.dropbox.com/s/x24u5495yzilu5k/favicon.ico?dl=0&raw=1">
      <meta name="msapplication-config" content="https://www.dropbox.com/s/7y7hicjaiaakrkm/browserconfig.xml?dl=0&raw=1">
      <meta name="theme-color" content="#ffffff"> -->
<!--  <link rel="apple-touch-icon" sizes="57x57" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="60x60" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="72x72" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="76x76" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="114x114" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="120x120" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="144x144" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="152x152" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="icon" type="image/png" href="https://www.dropbox.com/s/92xvznr5p84zswn/favicon-32x32.png?dl=0&raw=1" sizes="32x32">
  <link rel="icon" type="image/png" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1" sizes="192x192">
  <link rel="icon" type="image/png" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1" sizes="96x96">
  <link rel="icon" type="image/png" href="https://www.dropbox.com/s/cjpenk5d6fif9fm/favicon-16x16.png?dl=0&raw=1" sizes="16x16">
  <link rel="manifest" href="https://www.dropbox.com/s/tij4jmfdhfnh4bi/manifest.json?dl=0">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1"> -->
  <meta name="theme-color" content="#ffffff">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%# if current_user %>
          <li><%= link_to(t('clients'), clients_path) %></li>
          <li><%= link_to(t('services'), services_path) %></li>
          <li><%= link_to(t('invoices'), invoices_path) %></li>
          <li><%= link_to(t('estimates'), estimates_path) %></li>
          <li><%= link_to('Schedule', schedule_path) %></li>
          <%# end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_admin %>
          <li><%= link_to('Settings', edit_admin_registration_path) %></li>
          <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to('Login', new_admin_session_path) %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(document).ready(function(){ /*code here*/
      // Get Last service price on modal
			$('#service_description').change(function() {
				service = $("#service_description").val();
				$.getJSON("last_service_price?id="+id.value+"&description="+service, function(data){
					$('#service_price').val(data);
				});
			});
		});

      $(function() {
             $("#datepicker1").datepicker({dateFormat: 'dd-mm-yy'});
             $("#datepicker2").datepicker({dateFormat: 'dd-mm-yy'});
             $("#datepicker3").datepicker({dateFormat: 'dd-mm-yy'});
             $("#datepicker4").datepicker({dateFormat: 'dd-mm-yy'});
             $("#datepicker5").datepicker({dateFormat: 'dd-mm-yy'});
             $("#datepicker6").datepicker({dateFormat: 'dd-mm-yy'});
      });

  $( document ).on('turbolinks:load', function() {
      $('#service_quantity').on('change', function(){
        var srv_qty = $("select#service_quantity").val();
        if (srv_qty == 1) {
          $('#datepicker1,#dplabel1').show();
          $('#datepicker2,#datepicker3,#datepicker4,#dplabel2,#dplabel3,#dplabel4,#datepicker5,#dplabel5,#datepicker6,#dplabel6').hide();
        }
        if (srv_qty == 2) {
          $('#datepicker1,#datepicker2,#dplabel1,#dplabel2').show();
          $('#datepicker3,#datepicker4,#dplabel3,#dplabel4,#datepicker5,#dplabel5,#datepicker6,#dplabel6').hide();
          }
        if (srv_qty == 3) {
          $('#datepicker1,#datepicker2,#datepicker3,#dplabel1,#dplabel2,#dplabel3').show();
          $('#datepicker4,#dplabel4,#datepicker5,#dplabel5,#datepicker6,#dplabel6').hide();
        }
        if (srv_qty == 4) {
          $('#datepicker1,#datepicker2,#datepicker3,#datepicker4,#dplabel1,#dplabel2,#dplabel3,#dplabel4').show();
          $('#datepicker5,#dplabel5,#datepicker6,#dplabel6').hide();
        }
        if (srv_qty == 5) {
          $('#datepicker1,#datepicker2,#datepicker3,#datepicker4,#datepicker5,#dplabel1,#dplabel2,#dplabel3,#dplabel4,#dplabel5').show();
          $('#datepicker6,#dplabel6').hide();
        }
        if (srv_qty == 6) {
          $('#datepicker1,#datepicker2,#datepicker3,#datepicker4,#datepicker5,#datepicker6,#dplabel1,#dplabel2,#dplabel3,#dplabel4,#dplabel5,#dplabel6').show();
        }
    });
    var dialog, form,
      emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
      name = $( "#name" ),
      allFields = $( [] ).add( name ),
      tips = $( ".validateTips" );

    function updateTips( t ) {
      tips
        .text( t )
        .addClass( "ui-state-highlight" );
      setTimeout(function() {
        tips.removeClass( "ui-state-highlight", 1500 );
      }, 500 );
    }

    function addUser() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );
      data = {client:{id:$('#id').val()}, service:{description:$('#service_description').val(),notes:$('#service_notes').val(),price:$('#service_price').val(), quantity:$('#service_quantity').val(),date1:$('#datepicker1').val(),date2:$('#datepicker2').val(),date3:$('#datepicker3').val(),date4:$('#datepicker4').val(),date5:$('#datepicker5').val(),date6:$('#datepicker6').val()}};
		$.ajax({
			type: "POST",
            async: false,
			url: '/create_services',
			data: data,
            success: alert('Services were successfully added!'),
			dataType: 'json'
		});
     if ( valid ) {
        dialog.dialog( "close" );
      }
      dialog = $( "#dialog-form" );
      dialog.dialog( "close" );
      return valid;
    }

    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 500,
      width: 350,
      modal: true,
      buttons: {
        "Charge services": addUser,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );
      }
    });

    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      addUser();
      dialog.dialog( "close" );
    });

    $(".create-services").on( "click", function() {
			var client_id = $(this).attr("id");
			var client_name = $(this).attr("name");
			$('#id').val(client_id);
			$('#name').val(client_name);
      dialog.dialog( "open" );
    });

  } );
  </script>
</head>
<body>

<div id="dialog-form" title="Add new services" style="display: none;">
  <form>
    <fieldset>
      <!--<label for="name">Client ID</label> -->
      <input type="hidden" name="id" id="id" value="" class="text ui-widget-content ui-corner-all">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="" disabled class="text ui-widget-content ui-corner-all">

	<span class="field">
      <input value="<%= %>" type="hidden" name="service[client_id]" id="service_client_id">
  </span>
	<label for="name">Description</label>
		<select name="service[description]" id="service_description"><option value=""></option>
			<option value="Aeration and Seeding">Aeration and Seeding</option>
			<option value="Bi-weekly Cutting">Bi-weekly Cutting</option>
			<option value="Clean Up">Clean Up</option>
			<option value="Fall Clean-Up">Fall Clean-Up</option>
			<option value="Fertilizer">Fertilizer</option>
			<option value="Gutter Cleaning">Gutter Cleaning</option>
			<option value="Mulching">Mulching</option>
			<option value="Other">Other</option>
		  <option value="Power Washing">Power Washing</option>
			<option value="Snow Removal">Snow Removal</option>
			<option value="Tree Cutting">Tree Cutting</option>
			<option value="Trimming Bushes and Shrubs">Trimming Bushes and Shrubs</option>
			<option value="Weekly Cutting">Weekly Cutting</option></select>
	</br>
  <span class="field">
    <label for="service_notes">Notes</label>
      <textarea name="service[notes]" id="service_notes"></textarea>
  </span>
  <span class="field">
    <label for="service_price">Price</label>
    <input type="text" name="service[price]" id="service_price">
  </span>
	<label for="name">Quantity</label>
  <select name="service[quantity]" id="service_quantity"><option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>
  </br> </br>
  <p style='font-family: Arial,Helvetica,sans-serif;'>
    <b id="dplabel1">Date 1</b> <input style ='float:right;margin-right:100px;' type="text" id="datepicker1" name="service[date1]">
  </p>
  <p style='font-family: Arial,Helvetica,sans-serif;'>
    <b id="dplabel2" style='display:none;'>Date 2</b> <input style ='float:right;margin-right:100px;display:none;' type="text" id="datepicker2" name="service[date2]">
  </p>
  <p style='font-family: Arial,Helvetica,sans-serif;'>
    <!--<b>Date 3</b> <input style ='float: right;margin: 10px 100px 10px 0px;' type="text" id="datepicker3"> -->
    <b id="dplabel3" style='display:none;'>Date 3</b> <input style ='float:right;margin-right:100px;display:none;' type="text" id="datepicker3" name="service[date3]">
  </p>
  <p style='font-family: Arial,Helvetica,sans-serif;'>
    <b id="dplabel4" style='display:none;'>Date 4</b> <input style ='float:right;margin-right:100px;display:none;' type="text" id="datepicker4" name="service[date4]">
  </p>
  <p style='font-family: Arial,Helvetica,sans-serif;'>
    <b id="dplabel5" style='display:none;'>Date 5</b> <input style ='float:right;margin-right:100px;display:none;' type="text" id="datepicker5" name="service[date5]">
  </p>
  <p style='font-family: Arial,Helvetica,sans-serif;'>
    <b id="dplabel6" style='display:none;'>Date 6</b> <input style ='float:right;margin-right:100px;display:none;' type="text" id="datepicker6" name="service[date6]">
  </p>

      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
