<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <b> <%= link_to image_tag("http://pandera.ml/images/pandera_app/pandera_logo.png", :alt => "Pandera Logo"), root_path %> </b>
      <!-- <link rel="apple-touch-icon" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1"/> -->
        <!-- size 57x57 -->
      <!--<link rel="apple-touch-icon" sizes="57x57" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1"/>
      <link rel="apple-touch-icon" sizes="72x72" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1"/>
      <link rel="apple-touch-icon" sizes="76x76" href="https://www.dropbox.com/s/zf61qb2eh45pzkm/apple-touch-icon.png?dl=0&raw=1">
      <link rel="apple-touch-icon" sizes="144x144" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1"/>
      <link rel="apple-touch-icon" sizes="144x144" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1"/>
      <link rel="icon" type="image/png" href="https://www.dropbox.com/s/92xvznr5p84zswn/favicon-32x32.png?dl=0&raw=1" sizes="32x32">
      <link rel="icon" type="image/png" href="https://www.dropbox.com/s/cjpenk5d6fif9fm/favicon-16x16.png?dl=0&raw=1" sizes="16x16">
      <link rel="manifest" href="https://www.dropbox.com/s/tij4jmfdhfnh4bi/manifest.json?dl=0&raw=1">
      <link rel="mask-icon" href="https://www.dropbox.com/s/fs1dv3uldo8ugc9/safari-pinned-tab.svg?dl=0&raw=1" color="#5bbad5">
      <link rel="shortcut icon" href="https://www.dropbox.com/s/x24u5495yzilu5k/favicon.ico?dl=0&raw=1">
      <meta name="msapplication-config" content="https://www.dropbox.com/s/7y7hicjaiaakrkm/browserconfig.xml?dl=0&raw=1">
      <meta name="theme-color" content="#ffffff"> -->
<!--  <link rel="apple-touch-icon" sizes="57x57" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="60x60" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="72x72" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="76x76" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="114x114" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="120x120" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="144x144" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="152x152" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1">
  <link rel="icon" type="image/png" href="https://www.dropbox.com/s/92xvznr5p84zswn/favicon-32x32.png?dl=0&raw=1" sizes="32x32">
  <link rel="icon" type="image/png" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1" sizes="192x192">
  <link rel="icon" type="image/png" href="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1" sizes="96x96">
  <link rel="icon" type="image/png" href="https://www.dropbox.com/s/cjpenk5d6fif9fm/favicon-16x16.png?dl=0&raw=1" sizes="16x16">
  <link rel="manifest" href="https://www.dropbox.com/s/tij4jmfdhfnh4bi/manifest.json?dl=0">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="https://www.dropbox.com/s/8hzrto5aroel0z7/mstile-150x150.png?dl=0&raw=1"> -->
  <meta name="theme-color" content="#ffffff">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%# if current_user %>
          <!--<li><%#= link_to('Check In', new_vehicle_path) %></li>
          <li><%#= link_to('Used Checklists', uv_checklists_path) %></li>
          <%# else %> -->
          <li><%= link_to(t('clients'), clients_path) %></li>
          <li><%= link_to(t('services'), services_path) %></li>
          <li><%= link_to(t('invoices'), invoices_path) %></li>
          <li><%= link_to(t('estimates'), estimates_path) %></li>
          <!--<li><%#= link_to(t('dashboard'), expenses_path) %></li> -->
          <%# end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_admin %>
          <li><%= link_to('Settings', edit_admin_registration_path) %></li>
          <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
        <% else %>
          <!--<li><%#= link_to('Register', new_admin_registration_path) %></li>-->
          <!--<li><%#= link_to(t('shipping_addresses'), shipping_addresses_path) %></li>-->
          <li><%= link_to('Login', new_admin_session_path) %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  //$( function() {
  //$(document).on('page:fetch', function() {
  //$(document).ready(function () {
  $( document ).on('turbolinks:load', function() {
    var dialog, form,

      // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
      emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
      name = $( "#name" ),
      allFields = $( [] ).add( name ),
      tips = $( ".validateTips" );

    function updateTips( t ) {
      tips
        .text( t )
        .addClass( "ui-state-highlight" );
      setTimeout(function() {
        tips.removeClass( "ui-state-highlight", 1500 );
      }, 500 );
    }

    function addUser() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );
      data = {client:{id:$('#id').val()}, service:{description:$('#service_description').val(), price:$('#service_price').val(), quantity:$('#service_quantity').val()},date_y:$('#service_date_1i').val(),date_m:$('#service_date_2i').val(),date_d:$('#service_date_3i').val()};
		$.ajax({
			type: "POST",
			url: '/create_services',
			data: data,
            success: function(resultData) { alert("Save Complete") },
			dataType: 'json'
		});
     if ( valid ) {
        $( "#users tbody" ).append( "<tr>" +
          "<td>" + name.val() + "</td>" +
        "</tr>" );
        dialog.dialog( "close" );
      }
      dialog = $( "#dialog-form" );
      dialog.dialog( "close" );
      return valid;
    }

    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 400,
      width: 350,
      modal: true,
      buttons: {
        "Charge services": addUser,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );
      }
    });

    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      addUser();
      dialog.dialog( "close" );
    });

    $(".create-services").on( "click", function() {
			var client_id = $(this).attr("id");
			var client_name = $(this).attr("name");
			$('#id').val(client_id);
			$('#name').val(client_name);
      dialog.dialog( "open" );
    });

  } );
  </script>
</head>
<body>

<div id="dialog-form" title="Add new services" style="display: none;">
  <form>
    <fieldset>
      <!--<label for="name">Client ID</label> -->
      <input type="hidden" name="id" id="id" value="" class="text ui-widget-content ui-corner-all">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="" disabled class="text ui-widget-content ui-corner-all">

	<span class="field">
      <input value="<%= %>" type="hidden" name="service[client_id]" id="service_client_id">
  </span>
<div class="field">
    <label for="service_date">Date</label>
    <select id="service_date_1i" name="service[date(1i)]">
			<option value="2012">2012</option>
			<option value="2013">2013</option>
			<option value="2014">2014</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>
			<option value="2017" selected="selected">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			<option value="2020">2020</option>
			<option value="2021">2021</option>
			<option value="2022">2022</option>
		</select>
		<select id="service_date_2i" name="service[date(2i)]">
			<option value="1">January</option>
			<option value="2">February</option>
			<option value="3">March</option>
			<option value="4">April</option>
			<option value="5">May</option>
			<option value="6">June</option>
			<option value="7">July</option>
			<option value="8">August</option>
			<option value="9">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
		</select>
		<select id="service_date_3i" name="service[date(3i)]">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
		</select>
  </div>
	<label for="name">Description</label>
		<select name="service[description]" id="service_description"><option value=""></option>
			<option value="Weekly Cutting">Weekly Cutting</option>
			<option value="Bi-weekly Cutting">Bi-weekly Cutting</option>
			<option value="Mulching">Mulching</option>
			<option value="Gutter Cleaning">Gutter Cleaning</option>
			<option value="Trimming Bushes and Shrubs">Trimming Bushes and Shrubs</option>
			<option value="Fall Clean-Up">Fall Clean-Up</option>
			<option value="Fertilizer">Fertilizer</option>
			<option value="Aeration and Seeding">Aeration and Seeding</option>
			<option value="Power Washing">Power Washing</option>
			<option value="Snow Removal">Snow Removal</option>
			<option value="Other">Other</option></select>
	</br>
	</br>
    <span class="field">
    <label for="service_price">Price</label>
    <input type="text" name="service[price]" id="service_price">
  </span>
	<label for="name">Quantity</label>
		<select name="service[quantity]" id="service_quantity"><option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>

      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
