<!DOCTYPE html>
<html>
<head>
  <title><%= 'Development | '  if Rails.env.development? %>Pandera - <%= ShippingAddress.where(is_default: true).first.name if ShippingAddress.where(is_default: true).first %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBidFVvV0VcvEvoKjMUkmx6VziJaxKZhL4" type="text/javascript"></script>
    <script>
    var greenPin = new google.maps.MarkerImage("https://maps.google.com/mapfiles/marker_green.png");
    /*var blackPin = new google.maps.MarkerImage("https://maps.google.com/mapfiles/marker_black.png");
    var purplePin = new google.maps.MarkerImage("https://maps.google.com/mapfiles/marker_purple.png");
    var redPin = new google.maps.MarkerImage("https://maps.google.com/mapfiles/marker.png");
    var greyPin = new google.maps.MarkerImage("https://maps.google.com/mapfiles/marker_grey.png");
    var orangePin = new google.maps.MarkerImage("https://maps.google.com/mapfiles/marker_orange.png");
    var whitePin = new google.maps.MarkerImage("https://maps.google.com/mapfiles/marker_white.png");
    var yellowPin = new google.maps.MarkerImage("https://maps.google.com/mapfiles/marker_yellow.png");
    var lightBluePin = new google.maps.MarkerImage("https://maps.google.com/mapfiles/ms/micons/ltblue-dot.png");
    var lightGreenPin = new google.maps.MarkerImage("https://maps.google.com/mapfiles/ms/micons/green-dot.png");
    var pinkPin = new google.maps.MarkerImage("https://maps.google.com/mapfiles/ms/micons/pink-dot.png"); */
    </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header"%>

<% if current_page?('/') %>
    <div class="jumbotron">
        <%= render 'home' %>
    </div>
<% end %>

<div class="container">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == 'notice' ? "success" : "danger" %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
</div>

</body>
</html>
