<!DOCTYPE html>
<html>
<head>
  <title>Pandera</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header"%> 

<% if current_page?('/') %>
    <div class="jumbotron">
        <%= render 'home' %>
    </div>
<% end %>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
